/* src/App.css */
body {
  /* transition: background 0.5s ease, color 0.5s ease;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; Center horizontally */
}
body {
  /* background-image: url('./1.jpg'); Replace '1.jpeg' with the actual filename of your image */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure full viewport height */
  /* margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; */
  margin: 0;
}
.blur-box {
  background-color: #e83e8c; /* Cherry color */
  border-radius: 10px;
  padding: 80px;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  justify-content: center;
}

body.light-mode {
  background: rgb(27, 2, 53); /* Red linear gradient */
  color: #8e44ad;
}

body.dark-mode {
  background: rgb(18, 221, 157); /* Dark mode background color */
  color: #ecf0f1;
}

nav {
  background: crimson; /* Purple background for the navigation bar */
  padding: 10px;
  width: 100%;
  border: 2px solid blue;
  display: inline-block;
  border-radius: 10px;
}

span, p {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%; /* Take full width */
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Set body background color and text color based on the mode */
/* body.light-mode {
  background: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
} */
