/* src/App.css */
body {
  transition: background 0.5s ease, color 0.5s ease;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; /* Center horizontally */
}

body.light-mode {
  background: rebeccapurple; /* Red linear gradient */
  color: #8e44ad;
}

body.dark-mode {
  background: #2c3e50; /* Dark mode background color */
  color: #ecf0f1;
}
nav {
  background: #8e44ad; /* Purple background for the navigation bar */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%; /* Take full width */
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Set body background color and text color based on the mode */
body.light-mode {
  background: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
}
