:root {
    --wwwtandemnet-144-0x-810158752441406-2defaultshark: rgba(28, 28, 30, 1);
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-font-family: "Roboto-Bold", Helvetica;
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-font-weight: 700;
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-font-size: 30px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-letter-spacing: 0.699999988079071px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-line-height: 40.79999923706055px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-bold-30-font-style: normal;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-font-family: "Roboto-Light", Helvetica;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-font-weight: 300;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-font-size: 21px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-letter-spacing: 0.49000000953674316px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-line-height: 27.93000030517578px;
    --www-tandem-net-1440x810-1587524414062-default-roboto-light-21-font-style: normal;
  }
  